body {
  padding: 5px;
}

h1 {
  margin-top: 20px;
  
}
  h1, .description {
  text-align: center
}

main {
  width: 60%;
  margin: auto;
}

.bold {
  font-weight: 800;
}

#image {
  max-width: 100%;
  height: auto;
}

img {
  display: block;
  align-content: center;
}

h2 {
  border-bottom: 2px solid grey;
}

li {
  list-style: none;
  margin-left: -2em;
}

a {
  color: blue;
  cursor: pointer;
}

a:hover {
  color: red;
  cursor: pointer;
}
